<label class="relative inline-flex items-center cursor-pointer">
    <input type="checkbox" value=""  class="sr-only peer" />
    <div class="w-7 h-4 bg-[#727272] peer-focus:outline-none peer-focus:ring-0 dark:peer-focus:ring-[#1ed760] rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-black after:content-[''] after:absolute after:top-[4px] after:left-[2px] after:bg-[#121212] after:border-black after:border after:rounded-full after:h-3 after:w-3 after:transition-all dark:border-black peer-checked:bg-[#1ed760]"></div>
    <span class="block ml-4 text-sm font-medium text-white">Recuérdame</span>
</label>