@font-face {
    font-family: 'Gotham';
    font-weight: bold;
    src: url('./GothamBold.ttf');
}
@font-face {
    font-family: 'Gotham';
    font-weight: bold;
    font-style: italic;
    src: url('./GothamBoldItalic.ttf');
}
@font-face {
    font-family: 'GothamBook';
    src: url('./GothamBook.ttf');
}
@font-face {
    font-family: 'GothamBook';
    font-style: italic;
    src: url('./GothamBookItalic.ttf');
}
@font-face {
    font-family: 'Gotham';
    font-weight: 100;
    src: url('./GothamLight.ttf');
}
@font-face {
    font-family: 'Gotham';
    font-weight: 100;
    font-style: italic;
    src: url('./GothamLightItalic.ttf');
}
@font-face {
    font-family: 'Gotham';
    font-weight: 500;
    src: url('./GothamMedium.ttf');
}
@font-face {
    font-family: 'Gotham';
    font-weight: 500;
    font-style: italic;
    src: url('./GothamMediumItalic.ttf');
}

* {
    font-family: 'Gotham';
}